<div class="d-flex justify-content-between bg-light text-dark p-4 fs-4 mb-3">
  <p><%= link_to "SupArticle", articles_path, class:"text-decoration-none text-dark" %> </p>
  <%= link_to "Créer un article", new_article_path, class:"btn btn-primary" %>
</div>
